<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <ng-container matColumnDef="blend_name">
      <th mat-header-cell *matHeaderCellDef>Blend Name</th>
      <td mat-cell *matCellDef="let product">{{ product.blend_name }}</td>
    </ng-container>

    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let product">{{ product.origin }}</td>
    </ng-container>

    <ng-container matColumnDef="intensifier">
      <th mat-header-cell *matHeaderCellDef>Intensifier</th>
      <td mat-cell *matCellDef="let product">{{ product.intensifier }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="selectProduct(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10]"
    showFirstLastButtons
    aria-label="Select page of Coffee"
  >
  </mat-paginator>
</div>
<div class="card">
  <app-product-detail #productDetail></app-product-detail>
</div>
